/******************************** general *****************************/
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}


/************************** header ************************************/
header {
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 70px;

}

.container {
  width: 1200px;
  height: 70px;
  background-color: rgb(255, 255, 255);
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.logo {
  width: 130px;
  height: 30px;
  margin-left: 20px;
}

header nav li {
  position: relative;
}

/****************************** menu level-1 ***************************/
header nav>ul {
  display: flex;
  gap: 5px;
  margin-right: 20px;

}
header nav>ul>li>a {
  text-decoration: none;
  color: #000;
  font-size: 12.5PX;
  font-weight: 500;
}


header nav>ul>li>a {
  padding: 0 10px;
}

header nav>ul>li a:hover {
  color: blueviolet;
}

header nav>ul>li a:visited {
  color: blueviolet;
}

/***************************** menu level-2 ****************************/
header nav>ul>li>ul {
  background-color: rgb(163, 160, 160);

  position: absolute;
  top: calc(100% + 25px);
  right: 0;

  width: max-content;
  padding: 10px;
  display: none;

}

header nav>ul>li>ul>li {
  margin: 7px 0px;
}

header nav>ul>li>ul>li>a {
  padding: 10px 100px 10px 8px;
  text-decoration: none;
  color: #000;

}

header nav>ul>li:hover ul {
  display: block;
  /* transition: hover 3s;
  transition-delay: 3s; */
}

/*************** section-1 **** This is me *********************/
.This-is-me-fa {
  width: 100%;
  background-color: #f3f6fd;
  padding-top: 70px;
}

.This-is-me {
  width: 1080px;
  margin: 0 auto;
  display: flex;
}

.this-is-left {
  display: flex;
  flex-direction: column;
  width: 56%;
  padding-right: 25px;
  padding-top: 80px;
}

.this-is-right {
  padding-left: 35px;
}

.This-is-me div>h6 {
  font-size: 13px;
  font-weight: lighter;
}

.This-is-me div>h1 {
  font-size: 58px;
  margin: 0;
}

.This-is-me div>p {
  color: #8e8e8e;
  font-weight: lighter;
 
}

.This-is-me div>a {
  color: #ffffff;
  font-weight: 800px;
 text-decoration: none;
 font-size: 13px;
}

/**************** section-2 **** About Me  *****************/
.About-Me-fa {
  width: 100%;
  padding-top: 100px;

}

.About-Me {
  height: 400px;
  width: 1100px;

  margin: 0 auto;
  display: flex;
}

.about-me-right {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 130px;

}

.about-me-left {
  padding-top: 20px;
}

.about-me-right>h6 {
  font-size: 13px;
  font-weight: lighter;
}

.about-me-right>h1 {
  font-size: 35px;
  margin: 0 0 40px;
}
 
.about-me-right>p {
  color: #8e8e8e;
  font-weight:lighter;
  margin-bottom: 20px;
  
}

.about-me-right>a {
 color: #ffffff;
 font-weight: 800px;
 text-decoration: none;
 font-size: 13px;
}
.primary-btn {padding: 15px 30px;
  width: 110px;
  width: max-content;
  display: inline-block;
background:linear-gradient(0deg, #8490ff 0%, #62bdfc 100%);}