/* start body style */
body {
    margin: 0;
}
.container{width: 1200px;
    background-color: rgb(255, 255, 255);
    margin: 0 auto;
}
/* start header style */
header {
    background-color: rgb(255, 255, 255);
}
p,
h1,
h6,
a {
  font-family: "Poppins", sans-serif;
}

ul li {
    list-style: none;
    padding-left: 32px;
  }
  
  ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 12px;
  }
header nav ul {
    display: flex;
    
   
}

nav {
    display: flex;
    justify-content: space-around;
    padding-left:100px;
   
    
}

.logo {
    width: 133px;
    height: 30px;
    padding-left:70px;
  }
  .headers {
    display: flex;
    justify-content: space-around;
    text-align:center;
    padding-top: 15px;
    align-items: center;
  }
 